@using KiberlabLMS.Models.CourseModels
@using Microsoft.AspNetCore.Mvc.Localization
@model KiberlabLMS.Models.CourseModels.Lesson
@inject IViewLocalizer Localizer
<div>
    <h4>Lesson</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Course)
        </dt>
        <dd class="col-sm-10">
            @Model.Course.Name
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Position)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Position)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedOn)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CreatedOn)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ModifiedOn)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ModifiedOn)
        </dd>
    </dl>
</div>

<div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        @Localizer["Create New Section"]
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" asp-controller="Sections" asp-action="Create" asp-route-lessonId="@Model.Id" asp-route-sectionType="@SectionType.VideoSection">Video Section</a>
        <a class="dropdown-item" href="#">Text Section</a>
        <a class="dropdown-item" href="#">Quiz Section</a>
        <a class="dropdown-item" href="#">Lab Section</a>
    </div>
</div>
<div>
    <ul>
        
        @foreach (var modelSection in Model.Sections)
        {
        <li><a asp-controller="Sections" asp-action="Details" asp-route-id="@modelSection.Id">@Html.DisplayFor(sectionItem => modelSection.Name)</a></li>
        }
    </ul>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-controller="Courses" asp-action="Details" asp-route-id ="@Model.CourseId">Back to List</a>
</div>
